{% extends 'back/base.html.twig' %}
{% block title %}
	Rooms
{% endblock %}
{% block body %}
	<h1 class='title'>Room index</h1>
	<a href="{{ path('admin_newRoom') }}">
		<input class='btn-reserver' type="button" value="Ajouter une Chambre">
	</a>
	<link rel="stylesheet" href="{{ asset('CSS/room.css') }}"/>

	{% for room in rooms %}
		<div class='room_container'>

			<div class='room_title'>
				<hr>
				Numero de la chambre :-{{ room.RoomNo }}<br>
				Etage  :-{{ room.Floor }}<br>
				Capacité Maximale:-{{ room.MaxCapacity }}<br>
				Type    :-{{ room.Type }}
				({{ room.bedding }})<br>

				Chambre fumeuse ? :-{{ room.IsSmoking ? 'Oui' : 'Non' }}
				<br>
				Facilité possible  :-{{ room.FacilityPossible }}<br>

			</div>

			<div class='room_title'>
				<h5 class='room_description'>Déscription :-
					{{ room.description }}<br>
					Prix :-{{ room.price }}</h5>
			</div>

			<div
				class='btn_room'>

				{# <a href="{{ path('admin_showRoom', {'id': room.id}) }}">Voir</a> #}
				<a href="{{ path('admin_showRoom', {'id': room.id}) }}">
					<input class='btn-reserver' type="button" value="Voir">
				</a>
				{# <a href="{{ path('admin_editRoom', {'id': room.id}) }}">Modifier</a> #}
				<a href="{{ path('admin_editRoom', {'id': room.id}) }}">
					<input class='btn-reserver' type="button" value="Modifier">
				</a>
				<a href="{{ path('admin_chart_index', {'roomNo': room.RoomNo}) }}">
					<input class='btn-reserver' type="button" value="Chart Occupency">
				</a>
				<a href="{{ path('admin_calender', {'roomNo': room.RoomNo}) }}">
					<input class='btn-reserver' type="button" value="Calendier de reservation">
				</a>
				<br>
			</div>

		{% else %}

			<p colspan="14">Pas des Data</p>

		{% endfor %}

	</div>

{% endblock %}
