{% extends 'back/base.html.twig' %}
{% block title %}
	Rooms
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('CSS/room.css') }}"/>
	<link rel="stylesheet" href="{{ asset('CSS/fixedSocialMedias.css') }}"/>
	<h1 class='title'>Chambre</h1>
	<div class="room_container">

		<div class='room_title'>
			<hr>
			Numéro de la chambre  :-{{ room.RoomNo }}<br>
			Etage  :-{{ room.Floor }}<br>
			Capacité Maximale:-{{ room.MaxCapacity }}<br>
			Type    :-{{ room.Type }}<br>
			Chambre fumeuse ? :-{{ room.IsSmoking ? 'Oui' : 'Non' }}
			<br>
			Facilité possible :-{{ room.FacilityPossible }}<br>

		</div>

		<div class='room_title'>
			<h5 class='room_description'>Déscription :-
				{{ room.description }}<br>
				Prix :-{{ room.price }}</h5>
		</div>

		<div class='btn_room'>
			<a href="{{ path('admin_room_showAll') }}">
				<input class='btn-reserver' type="button" value="Retours a la list">
			</a>


			<a href="{{ path('admin_editRoom', {'id': room.id}) }}">
				<input class='btn-reserver' type="button" value="Modifier">
			</a>


			{{ include('back/room/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
