{% extends 'base.html.twig' %}

{% block title %}Reservations
{% endblock %}

{% block body %}
	<h1>Welcome To My Hotel Reservation System
	</h1>
	<div style="display: flex;">
		<div class="form-control me-sm-2">

			{{ form_start(form)}}
			{{form_errors(form)}}

			{{ form_row(form.arrivalDate)}}
		</div>
		<div class="form-control me-sm-2">{{ form_row(form.departureDate)}}</div>
		<div class="form-control me-sm-2">{{ form_row(form.rooms)}}</div>

		<div class="form-control me-sm-2">
			{{ form_row(form.adults)}}

		</div>
		<div class="form-control me-sm-2">
			{{ form_row(form.enfants)}}

		</div>


		<div class="form-control me-sm-2">{{ form_row(form.codePromo)}}</div>

		<button class="btn btn-secondary btn-danger mx-2">RECHERCHER</button>
		{{ form_end(form)}}
	</div>

</div></div></div>{% endblock %}
