<nav>
	<div>
		<div class="lungta">

			<div class="img_block">
				<div>
					<img class='lungta_img' src="{{ asset('./Img/lungta/blue.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/white.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/red.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/green.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/yellow.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/blue.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/white.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/red.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/green.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/yellow.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/blue.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/white.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/red.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/green.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/yellow.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/blue.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/white.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/red.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/green.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/yellow.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/blue.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/white.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/red.png') }}" alt='logo'/>
					<img class='lungta_img' src="{{ asset('./Img/lungta/green.png') }}" alt='logo'/>

				</div>
			</div>


		</div>
		<div>
			<ul class='nav-bar'>
				<li>
					<a class='nav-link' href="{{ path('front_search') }}">
						<img class='logo' src="{{ asset('./Img/logo.png') }}" alt='logo'/>

					</a>
				</li>
				<li>
					<a class='nav-link' href="{{ path('front_search') }}">Accueil</a>
				</li>
				<li>
					<a class='nav-link' href="{{ path('room_display') }}">Chambre & Suite</a>
				</li>

				<li>
					<a class='nav-link' href="#">Bar & Services</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					{% if (is_granted('ROLE_ADMIN') == false) %}
						<li>
							<a class='nav-link' href="{{ path('reservation_show') }}">Mes Reservation</a>
						</li>
					{% endif %}
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class='nav-link' href="{{ path('admin_room_showAll') }}">
							Les Chambres</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_USER') == false %}
					{# <li>
											<a class='nav-link' href="{{ path('reservation_userDetailForm')}}">Inscription</a>
										</li> #}

					<li>
						<a class='nav-link' href="{{ path('security_login')}}">Login</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_USER') %}
					<li>
						<a class='nav-link' href="{{ path('security_logout')}}">Logout</a>
					</li>
				{% endif %}


			</ul>

		</div>
	</div>

</nav>
